main{
    display: flex;
    flex-direction:column;
    align-items:center; 
    
    height: 95vh;
}
h2{
    font-family: 'Segoe UI', sans-serif;
    font-size: 42pt;
    
    font-weight: 400;
}
.setters{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
}
.mother{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mother h4{
    font-family: 'Segoe UI', sans-serif;
    font-size:20pt;
    font-weight:lighter;
}
.break-interval{
    font-size: 15pt;
    font-family:'Segoe UI', sans-serif;
    font-weight: lighter;

    display:flex;
    align-items: center;
    justify-content: space-around;
}
button{
    color: white;
    font-weight: bolder;
    opacity: .8;
    outline: none;
    width: 100px;
    height: 50px;
    border: none;
    margin:0 20px 0 20px;
    background-color: #51ADEF;
    border-bottom: 4px solid #257DBC;
    cursor: pointer;
}
.slen{
    font-size: 15pt;
    font-family:'Segoe UI', sans-serif;
    font-weight: lighter;

    display:flex;
    justify-content:space-around;
    align-items:center;
}
.timer-section{
    margin: 15px;
   
    
    text-align: center;
    padding: 0 .5em 1em .5em;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20pt;
}
.timer-section h4{
    font-size: 20pt;
    font-weight: lighter;
}